.env
__pycache__
venv
*.egg-info
*.egg
*.log
*.pyc
*.sqlite
*.tgz
*.whl
*.zip
build/
dist/
htmlcov/
.tox
.tox/
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.py,cover
*.mo
*.pot
.local
instance
.hypothes.is
.hypothesis
.pytest_cache
